# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.venv/
.env
.env.*
venv/
build/
dist/
.ipynb_checkpoints/

# Data & outputs
data/
outputs/
cache/
*.mtx
*.npz
*.npy
*.pt
*.pkl
*.log

# OS
.DS_Store
Thumbs.db
